{% load static %}

<div class="w-full h-auto relative p-10">
    <!-- Title -->
    <div class="w-full flex items-center justify-between mb-6">
        <h1 class="text-2xl font-bold text-neutral-100">Recent Videos</h1>
        <a href="#" class="text-neutral-500 hover:text-red-500 ease-out duration-300 group mr-1">
            <!-- View All -->
            Browse All
            <i class="fa-solid fa-chevron-right text-xs group-hover:translate-x-1 ease-in-out duration-200"></i>
        </a>
    </div>
    <!-- Swiper -->
    <!-- {% if recent_videos %} -->
    <div class="swiper mySwiper w-full h-full">
        <div class="swiper-wrapper">
            {% for i in recent_videos %}
            <a href="#" class="swiper-slide flex align-items justify-center">
                <!-- Video Thumbnail -->
                <div
                    class="w-full h-[16ch] rounded-md overflow-hidden relative group transition-all ease-in-out duration-300">
                    <img src="{{i.video_thumbnail.url}}" alt="video thumbnail"
                        class="w-full h-full object-cover object-center transition-all ease-in-out duration-300">
                    <div
                        class="absolute top-0 left-0 w-full h-full text-center bg-gradient-to-t from-neutral-950 via-neutral-950/60 to-neutral-950/5 opacity-0 group-hover:opacity-100 text-base text-neutral-50 font-semibold px-3 py-2 flex items-end transition-all ease-in-out duration-300">
                        {{i.title}}
                    </div>
                </div>
            </a>
            {% empty %}
            <p class="text-neutral-500 text-base">No Videos Found</p>
            {% endfor %}
        </div>

        <!-- Swiper Navigation -->
        <div class="swiper-button-next bg-red-600 text-neutral-50 text-base">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="swiper-button-prev bg-red-600 text-neutral-50 text-base">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
    </div>
    <!-- {% else %}
    <p class="text-neutral-500 text-base">No Recent Videos Found</p>
    {% endif %} -->
</div>