{% extends '../base.html'%}
{% load static %}

{%block titleblock%}Home{%endblock%}
{%block bodyblock%}


<div class="w-full min-h-screen flex-1">

    {% include 'home/hero/hero.html' %}
    
    <p class="text-base text-neutral-300 font-normal py-3 px-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, eveniet molestias saepe neque nostrum in iusto
        sint distinctio laudantium. Modi alias accusantium quisquam ducimus inventore fugit repellat error ad unde,
        doloribus, beatae consequuntur minus cupiditate!
    </p>
    <p class="text-base text-neutral-300 font-normal py-3 px-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, eveniet molestias saepe neque nostrum in iusto
        sint distinctio laudantium. Modi alias accusantium quisquam ducimus inventore fugit repellat error ad unde,
        doloribus, beatae consequuntur minus cupiditate!
    </p>
</div>


{%endblock%}