{% extends '../base.html'%}
{% load static %}

{%block titleblock%}Home{%endblock%}
{%block bodyblock%}


<div class="w-full min-h-screen flex-1">

    <!-- Hero Section -->
    {% include 'home/hero/hero.html' %}

    <div class="my-5 bg-neutral-900 px-4 py-5 flex items-center justify-start flex-wrap">
        {% for i in object.recent_videos %}
        <a href="#" class="swiper-slide flex align-items justify-center">
            <!-- Video Thumbnail -->
            <div
                class="w-full h-[16ch] rounded-md overflow-hidden relative group transition-all ease-in-out duration-300">
                <img src="{{i.video_thumbnail.url}}" alt="video thumbnail"
                    class="w-full h-full object-cover object-center transition-all ease-in-out duration-300">
                <div
                    class="absolute top-0 left-0 w-full h-full text-center bg-gradient-to-t from-neutral-950 via-neutral-950/60 to-neutral-950/5 opacity-0 group-hover:opacity-100 text-base text-neutral-50 font-semibold px-3 py-2 flex items-end transition-all ease-in-out duration-300">
                    {{i.title}}
                </div>
            </div>
        </a>
        {% empty %}
        <p class="text-neutral-500 text-base">No Videos Found</p>
        {% endfor %}
    </div>

    <!-- Recent Section -->
    {% include 'home/recent/recent.html' %}

    <!-- Top Section -->
    {% include 'home/top/top.html' %}

    <p class="text-base text-neutral-300 font-normal py-3 px-4">
        Footer text will be here....
    </p>
</div>


{%endblock%}