{% extends '../base.html'%}
{% load static %}

{%block titleblock%}Profile{%endblock%}
{%block bodyblock%}


<div class="w-full h-auto flex-1 py-3 px-4">
    <!-- Profile data -->
    <!--  bg-neutral-900 border border-neutral-900 shadow-md -->
    <div class="w-full h-auto grid grid-cols-3 gap-4">
        <div class="col-span-2 grid grid-cols-4 items-center gap-4 rounded-md p-6 text-neutral-500 font-normal">
            <img src="{{request.user.get_profile_pic}}" alt="profile image"
                class="col-span-1 w-52 h-52 rounded-full border border-neutral-800 p-0.5">
            <div class="col-span-3 text-base space-y-2">
                <h1 class="text-lg font-medium flex items-center text-neutral-400 gap-x-2">
                    <i class="fa-solid fa-user text-sm"></i>
                    {{request.user.get_full_name}}
                </h1>
                <h6 class=" flex items-center gap-x-2">
                    <i class="fa-solid fa-envelope text-sm"></i>
                    {{request.user.email}}
                </h6>
                <!-- <p class="bio line-clamp-2 text-overflow-hidden flex items-center gap-x-2">
                    <i class="text-sm fa-solid fa-edit"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, delectus.
                </p> -->
                <p class="font-thin flex items-center gap-x-2">
                    <i class="text-sm fa-solid fa-clock"></i>
                    Joined in: {{request.user.date_joined |date:"F Y"}}
                </p>
            </div>
        </div>
        <div class="col-span-1 p-6 flex items-center justify-end text-neutral-400 text-base font-medium">
            <a href="{% url 'accounts:logout' %}"
                class="px-4 py-2 rounded-md bg-red-500 text-base text-neutral-300 font-medium flex items-center justify-center">
                Logout
            </a>
        </div>
    </div>

    <!-- Divider -->
    <div class="w-full h-[1.5px] bg-neutral-900/50 mt-5 mb-10"></div>

    <!-- Your videos and activities -->
    <div class="w-full space-y-10 px-10">
        <!-- Your videos -->
        <div class="w-full space-y-3">
            <h1 class="text-xl font-bold text-neutral-300">
                Your Videos (03)
            </h1>

            <!-- Video Table -->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <div class="p-4 bg-neutral-950 border-t-2 border-l-2 border-r-2 rounded-t-md border-neutral-900">
                    <label for="table-search" class="sr-only">Search</label>
                    <div
                        class="max-w-md h-11 px-4 flex items-center gap-x-3 rounded-md bg-neutral-900 border border-neutral-900 text-sm font-normal text-neutral-300 placeholder-neutral-600 overflow-hidden">
                        <i class="fa-solid fa-search"></i>
                        <input type="text" id="table-search" class="w-full h-full bg-transparent outline-none"
                            placeholder="Search for items">
                    </div>
                </div>
                <table class="w-full text-sm text-left rtl:text-right text-neutral-500 dark:text-neutral-400">
                    <thead class="text-xs text-neutral-400 uppercase bg-neutral-900">
                        <tr>
                            <th scope="col" class="p-5">
                                <div class="flex items-center">
                                    <input id="checkbox-all-search" type="checkbox"
                                        class="w-4 h-4 text-red-600 bg-neutral-100 border-neutral-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-neutral-800 dark:focus:ring-offset-neutral-800 focus:ring-2 dark:bg-neutral-700 dark:border-neutral-600">
                                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Video Title
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Upload Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Category
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Size
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-neutral-900/60 hover:bg-neutral-800/60 cursor-pointer ease-in-out duration-300">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-search-1" type="checkbox"
                                        class="w-4 h-4 text-red-600 bg-neutral-100 border-neutral-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-neutral-800 dark:focus:ring-offset-neutral-800 focus:ring-2 dark:bg-neutral-700 dark:border-neutral-600">
                                    <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row"
                                class="px-6 py-4 font-medium text-neutral-900 whitespace-nowrap dark:text-white">
                                The Sliding Mr. Bones (Next Stop, Pottersville)
                            </th>
                            <td class="px-6 py-4">
                                03-02-2024
                            </td>
                            <td class="px-6 py-4">
                                Funny
                            </td>
                            <td class="px-6 py-4">
                                256 MB
                            </td>
                            <td class="px-6 py-4 flex items-center gap-x-7">
                                <a href="#" class="text-red-500 text-xl">
                                    <i class="fa-solid fa-edit"></i>
                                </a>
                                <a href="#" class="text-red-500 text-base">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Your activity -->
        <div class="w-full space-y-3">
            <h1 class="text-xl font-bold text-neutral-300">
                Your Activities
            </h1>

            <!-- Activities -->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                This is your activity page.
            </div>

        </div>
    </div>


</div>


{%endblock%}