{% extends '../base.html'%}
{% load static %}
{%block titleblock%}Sign Up{%endblock%}
{%block bodyblock%}
<style>
    .form-text {
        display: none;
    }
</style>

<div class="w-full h-screen flex-1 flex items-center justify-center mt-10">
    <div class="w-[28%] h-auto py-10 px-8 rounded-xl border-2 border-neutral-900 shadow-md">
        <div class="space-y-2 mb-5">
            <h1 class="text-3xl font-bold text-neutral-100 mb-">Sign Up</h1>
            <p class="text-sm text-neutral-600 font-normal">
                Create a free account to get started!
            </p>
        </div>
        <form method="post" class="w-full">
            {% csrf_token %}
            {% for field in form %}
            <div class="w-full mb-4 relative">
                <label for="{{ field.id_for_label }}" class="text-base text-neutral-500 font-medium mb-2 block">
                    {{ field.label }}
                </label>
                {{field}}
            </div>
            {% endfor %}

            <button type="submit"
                class="w-full h-11 text-base font-semibold bg-red-600 text-neutral-50 mt-8 rounded-md">
                Sign Up
            </button>
            <p class="text-base text-neutral-600 font-normal mt-7 text-center">
                Already had an account?
                <a href="{% url 'accounts:login'%}"
                    class="text-decoration-none text-red-500 hover:text-red-600 ease-out duration-300">
                    Login
                </a>
            </p>
        </form>
    </div>
</div>

<script>


    document.addEventListener('DOMContentLoaded', function () {

        // Find the password input
        var first_name = document.querySelector('#id_first_name');
        var last_name = document.querySelector('#id_last_name');
        var email = document.querySelector('#id_email');
        var p1 = document.querySelector('#id_password1');
        var p2 = document.querySelector('#id_password2');
        first_name.placeholder='Enter your first name'
        last_name.placeholder='Enter your last name'
        email.placeholder = 'Enter your email'
        p1.placeholder = 'Enter password'
        p2.placeholder = 'Confirm password'
        email.type = 'email'
        email.className = 'w-full h-11 bg-neutral-950 outline-none px-4 text-base placeholder-neutral-700 font-normal rounded-md ring-1 ring-neutral-800 focus:ring-2 focus:ring-red-500 text-neutral-200'
        p1.className = 'w-full h-11 bg-neutral-950 outline-none px-4 text-base placeholder-neutral-700 font-normal rounded-md ring-1 ring-neutral-800 focus:ring-2 focus:ring-red-500 text-neutral-200'
        p2.className = 'w-full h-11 bg-neutral-950 outline-none px-4 text-base placeholder-neutral-700 font-normal rounded-md ring-1 ring-neutral-800 focus:ring-2 focus:ring-red-500 text-neutral-200'
        first_name.className = 'w-full h-11 bg-neutral-950 outline-none px-4 text-base placeholder-neutral-700 font-normal rounded-md ring-1 ring-neutral-800 focus:ring-2 focus:ring-red-500 text-neutral-200'
        last_name.className = 'w-full h-11 bg-neutral-950 outline-none px-4 text-base placeholder-neutral-700 font-normal rounded-md ring-1 ring-neutral-800 focus:ring-2 focus:ring-red-500 text-neutral-200'
    });
</script>



{%endblock%}