{% extends '../base.html'%}
{% load static %}

{%block titleblock%}Videos{%endblock%}

<!-- 
    - Flowbite CSS 
-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />


{%block bodyblock%}


<div class="w-full h-auto flex-1 px-4 py-5">
    <div class="w-full space-y-8">
        <!-- Filter section -->
        {% include 'videos/filter.html' %}

        <!-- Video Card section -->
        {% include 'videos/videocard.html' %}
    </div>

</div>


{%block scriptblock%}
<!-- 
    - Flowbite Js Link 
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

{%endblock%}

{%endblock%}