{% load static %}

<div class="w-full h-auto grid grid-cols-4 gap-x-4 gap-y-6">

    <!-- Movie Card -->
    <div
        class="w-full h-auto rounded-md rounded-md overflow-hidden hover:bg-neutral-900/20 cursor-pointer ease-in-out duration-300">
        <a href="http://127.0.0.1:8000/video/detail/">
            <div class="w-full h-auto rounded-md overflow-hidden">
                <img src="https://source.unsplash.com/random/?movie" alt="video thumbnail"
                    class="w-full aspect-video object-cover object-center transition-all ease-in-out duration-300">
                <div class="px-2 py-3 space-y-2">
                    <a href="#"
                        class="text-xl font-bold text-neutral-300 cursor-pointer line-clamp-2 text-overflow-ellipsis">
                        Movie Title will be display here
                    </a>
                    <div class="w-full flex items-center gap-x-3">
                        <img src="https://source.unsplash.com/random/?movie" alt="profile image"
                            class="w-10 h-10 p-0.5 rounded-full object-cover object-center border border-neutral-800/90">
                        <div>
                            <h1 class="text-sm font-medium text-neutral-400">
                                Gokarna Adhikari
                            </h1>
                            <h1 class="text-xs font-normal text-neutral-600">
                                3 hours ago
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div
        class="w-full h-auto rounded-md rounded-md overflow-hidden hover:bg-neutral-900/20 cursor-pointer ease-in-out duration-300">
        <a href="http://127.0.0.1:8000/video/detail/">
            <div class="w-full h-auto rounded-md overflow-hidden">
                <img src="https://source.unsplash.com/random/?video" alt="video thumbnail"
                    class="w-full aspect-video object-cover object-center transition-all ease-in-out duration-300">
                <div class="px-2 py-3 space-y-2">
                    <a href="#"
                        class="text-xl font-bold text-neutral-300 cursor-pointer line-clamp-2 text-overflow-ellipsis">
                        Movie Title will be display here
                    </a>
                    <div class="w-full flex items-center gap-x-3">
                        <img src="https://source.unsplash.com/random/?movie" alt="profile image"
                            class="w-10 h-10 p-0.5 rounded-full object-cover object-center border border-neutral-800/90">
                        <div>
                            <h1 class="text-sm font-medium text-neutral-400">
                                Gokarna Adhikari
                            </h1>
                            <h1 class="text-xs font-normal text-neutral-600">
                                3 hours ago
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div
        class="w-full h-auto rounded-md rounded-md overflow-hidden hover:bg-neutral-900/20 cursor-pointer ease-in-out duration-300">
        <a href="http://127.0.0.1:8000/video/detail/">
            <div class="w-full h-auto rounded-md overflow-hidden">
                <img src="https://source.unsplash.com/random/?travel" alt="video thumbnail"
                    class="w-full aspect-video object-cover object-center transition-all ease-in-out duration-300">
                <div class="px-2 py-3 space-y-2">
                    <a href="#"
                        class="text-xl font-bold text-neutral-300 cursor-pointer line-clamp-2 text-overflow-ellipsis">
                        Movie Title will be display here
                    </a>
                    <div class="w-full flex items-center gap-x-3">
                        <img src="https://source.unsplash.com/random/?movie" alt="profile image"
                            class="w-10 h-10 p-0.5 rounded-full object-cover object-center border border-neutral-800/90">
                        <div>
                            <h1 class="text-sm font-medium text-neutral-400">
                                Gokarna Adhikari
                            </h1>
                            <h1 class="text-xs font-normal text-neutral-600">
                                3 hours ago
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div
        class="w-full h-auto rounded-md rounded-md overflow-hidden hover:bg-neutral-900/20 cursor-pointer ease-in-out duration-300">
        <a href="http://127.0.0.1:8000/video/detail/">
            <div class="w-full h-auto rounded-md overflow-hidden">
                <img src="https://source.unsplash.com/random/?mountain" alt="video thumbnail"
                    class="w-full aspect-video object-cover object-center transition-all ease-in-out duration-300">
                <div class="px-2 py-3 space-y-2">
                    <a href="#"
                        class="text-xl font-bold text-neutral-300 cursor-pointer line-clamp-2 text-overflow-ellipsis">
                        Movie Title will be display here
                    </a>
                    <div class="w-full flex items-center gap-x-3">
                        <img src="https://source.unsplash.com/random/?movie" alt="profile image"
                            class="w-10 h-10 p-0.5 rounded-full object-cover object-center border border-neutral-800/90">
                        <div>
                            <h1 class="text-sm font-medium text-neutral-400">
                                Gokarna Adhikari
                            </h1>
                            <h1 class="text-xs font-normal text-neutral-600">
                                3 hours ago
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div
        class="w-full h-auto rounded-md rounded-md overflow-hidden hover:bg-neutral-900/20 cursor-pointer ease-in-out duration-300">
        <a href="http://127.0.0.1:8000/video/detail/">
            <div class="w-full h-auto rounded-md overflow-hidden">
                <img src="https://source.unsplash.com/random/?waterfall" alt="video thumbnail"
                    class="w-full aspect-video object-cover object-center transition-all ease-in-out duration-300">
                <div class="px-2 py-3 space-y-2">
                    <a href="#"
                        class="text-xl font-bold text-neutral-300 cursor-pointer line-clamp-2 text-overflow-ellipsis">
                        Movie Title will be display here
                    </a>
                    <div class="w-full flex items-center gap-x-3">
                        <img src="https://source.unsplash.com/random/?movie" alt="profile image"
                            class="w-10 h-10 p-0.5 rounded-full object-cover object-center border border-neutral-800/90">
                        <div>
                            <h1 class="text-sm font-medium text-neutral-400">
                                Gokarna Adhikari
                            </h1>
                            <h1 class="text-xs font-normal text-neutral-600">
                                3 hours ago
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- {% for video in videos %} -->
    <!-- <div class="w-full h-auto bg-neutral-800 rounded-md">
        hello there
        <div class="w-full h-auto rounded-md overflow-hidden relative group transition-all ease-in-out duration-300">
            <img src="https://source.unsplash.com/random/?movie" alt="video thumbnail"
                class="w-full h-full object-cover object-center transition-all ease-in-out duration-300">
            <div
                class="w-full h-full absolute top-0 left-0 opacity-0 group-hover:opacity-100 transition-all ease-in-out duration-300">
                <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
                    <button
                        class="bg-red-500 text-neutral-950 font-medium text-base flex items-center justify-center px-5 py-2 rounded-md hover:bg-red-600 ease-in-out duration-300">
                        <i class="fa-solid fa-play"></i> Play Video
                    </button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- {% endfor %} -->
</div>