{% load static %}

<div class="w-full h-auto grid md:grid-cols-4 sm:grid-cols-3 grid-cols-2 md:gap-x-4 gap-x-2 gap-y-6">

    {% for video in videos %}
    <div
        class="w-full h-auto rounded-md rounded-md overflow-hidden hover:bg-neutral-900/20 cursor-pointer ease-in-out duration-300">
        <a href="{% url 'home:detail' pk=video.pk %}">
            <div class="w-full h-auto rounded-md overflow-hidden">
                <img src="{{video.video_thumbnail.url}}" alt="video thumbnail"
                    class="w-full aspect-video object-cover object-center transition-all ease-in-out duration-300">
                <div class="px-2 py-3 space-y-2">
                    <h1 class="text-xl font-bold text-neutral-300 cursor-pointer line-clamp-2 text-overflow-ellipsis">
                        {{video.title}}
                    </h1>
                    <div class="w-full flex items-center justify-between gap-x-3">
                        <h6 class="text-sm text-neutral-500 font-normal">
                            Produced by: {{video.producer}}
                        </h6>
                        <div class="bg-neutral-900 text-sm text-red-500 rounded-md w-fit px-2 py-1">
                            {{video.age_rating}}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {%empty%}
    <div class="w-full col-span-4 h-auto flex items-center justify-center">
        <h1 class="text-3xl font-bold text-neutral-300">
            No Videos Found Yet (` ; `)
        </h1>
    </div>
    {% endfor %}
</div>