{% load static %}

<!-- <div class="w-full h-auto rounded-md overflow-hidden border border-neutral-900">
    <table class="w-full table-auto border-collapse text-neutral-500 text-base font-normal !text-start">
        <thead class="bg-neutral-900 py-2">
            <tr class="font-medium text-neutral-400 tracking-wide">
                <th class="py-3 text-center">S.N.</th>
                <th class="py-3 text-start line-clamp-1 text-overflow-ellipsis">Video Title</th>
                <th class="py-3 text-start">Category</th>
                <th class="py-3 text-start">Size</th>
                <th class="py-3 text-start">Upload Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover:bg-neutral-900/30 cursor-pointer ease-in-out duration-300">
                <th class="border-b border-neutral-800 py-2.5">1</th>
                <td class="border-b border-neutral-800 py-2.5">
                    <a href="#" class="text-decoration-none hover:text-red-500/70 ease-in-out duration-300">
                        The Sliding Mr. Bones (Next Stop, Pottersville)
                    </a>
                </td>
                <td class="border-b border-neutral-800 py-2.5">Funny</td>
                <td class="border-b border-neutral-800 py-2.5">Malcolm Lockyer</td>
                <td class="border-b border-neutral-800 py-2.5">1961</td>
            </tr>
            <tr class="hover:bg-neutral-900/30 cursor-pointer ease-in-out duration-300">
                <th class="border-b border-neutral-800 py-2.5">2</th>
                <td class="border-b border-neutral-800 py-2.5">
                    <a href="#" class="text-decoration-none hover:text-red-500/70 ease-in-out duration-300">
                        The Sliding Mr. Bones (Next Stop, Pottersville)
                    </a>
                </td>
                <td class="border-b border-neutral-800 py-2.5">Funny</td>
                <td class="border-b border-neutral-800 py-2.5">Malcolm Lockyer</td>
                <td class="border-b border-neutral-800 py-2.5">1961</td>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="p-4 bg-neutral-950 border-t-2 border-l-2 border-r-2 rounded-t-md border-neutral-900">
        <label for="table-search" class="sr-only">Search</label>
        <div
            class="max-w-md h-11 px-4 flex items-center gap-x-3 rounded-md bg-neutral-900 border border-neutral-900 text-sm font-normal text-neutral-300 placeholder-neutral-600 overflow-hidden">
            <i class="fa-solid fa-search"></i>
            <input type="text" id="table-search" class="w-full h-full bg-transparent outline-none"
                placeholder="Search for items">
        </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-neutral-500 dark:text-neutral-400">
        <thead class="text-xs text-neutral-400 uppercase bg-neutral-900">
            <tr>
                <th scope="col" class="p-5">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox"
                            class="w-4 h-4 text-red-600 bg-neutral-100 border-neutral-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-neutral-800 dark:focus:ring-offset-neutral-800 focus:ring-2 dark:bg-neutral-700 dark:border-neutral-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    Video Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Upload Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Size
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-neutral-900/60 hover:bg-neutral-800/60 cursor-pointer ease-in-out duration-300">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox"
                            class="w-4 h-4 text-red-600 bg-neutral-100 border-neutral-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-neutral-800 dark:focus:ring-offset-neutral-800 focus:ring-2 dark:bg-neutral-700 dark:border-neutral-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-neutral-900 whitespace-nowrap dark:text-white">
                    The Sliding Mr. Bones (Next Stop, Pottersville)
                </th>
                <td class="px-6 py-4">
                    03-02-2024
                </td>
                <td class="px-6 py-4">
                    Funny
                </td>
                <td class="px-6 py-4">
                    256 MB
                </td>
                <td class="px-6 py-4 flex items-center gap-x-7">
                    <a href="#" class="text-red-500 text-xl">
                        <i class="fa-solid fa-edit"></i>
                    </a>
                    <a href="#" class="text-red-500 text-base">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>