{% load static %}

<div class="w-full h-auto rounded-md overflow-hidden border border-neutral-900">
    <table class="w-full table-auto border-collapse text-neutral-500 text-base font-normal !text-start">
        <thead class="bg-neutral-900 py-2">
            <tr class="font-medium text-neutral-400 tracking-wide">
                <th class="py-3 text-center">S.N.</th>
                <th class="py-3 text-start line-clamp-1 text-overflow-ellipsis">Video Title</th>
                <th class="py-3 text-start">Category</th>
                <th class="py-3 text-start">Size</th>
                <th class="py-3 text-start">Upload Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover:bg-neutral-900/30 cursor-pointer ease-in-out duration-300">
                <th class="border-b border-neutral-800 py-2.5">1</th>
                <td class="border-b border-neutral-800 py-2.5">
                    <a href="#" class="text-decoration-none hover:text-red-500/70 ease-in-out duration-300">
                        The Sliding Mr. Bones (Next Stop, Pottersville)
                    </a>
                </td>
                <td class="border-b border-neutral-800 py-2.5">Funny</td>
                <td class="border-b border-neutral-800 py-2.5">Malcolm Lockyer</td>
                <td class="border-b border-neutral-800 py-2.5">1961</td>
            </tr>
            <tr class="hover:bg-neutral-900/30 cursor-pointer ease-in-out duration-300">
                <th class="border-b border-neutral-800 py-2.5">2</th>
                <td class="border-b border-neutral-800 py-2.5">
                    <a href="#" class="text-decoration-none hover:text-red-500/70 ease-in-out duration-300">
                        The Sliding Mr. Bones (Next Stop, Pottersville)
                    </a>
                </td>
                <td class="border-b border-neutral-800 py-2.5">Funny</td>
                <td class="border-b border-neutral-800 py-2.5">Malcolm Lockyer</td>
                <td class="border-b border-neutral-800 py-2.5">1961</td>
            </tr>
        </tbody>
    </table>
</div>