* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    background: #1d1d1d;
}

::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #343434;
}

::-webkit-scrollbar-track {
    background: #1d1d1d;
}