{% load static %}
<div class="w-full h-auto flex items-start justify-start relative">
    <!-- Video section -->
    <div class="w-full h-auto flex items-center justify-center">
        <video id="myVideo" autoplay muted loop class="w-full aspect-[16/6] object-cover">
            <source src="{{ video_src }}" type="video/mp4">
        </video>
    </div>

    <!-- Play button -->
    <!-- <button id="playButton"
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-neutral-950/40 w-16 h-16 rounded-full shadow-lg">
        <i class="fas fa-play text-3xl text-gray-800"></i>
    </button> -->

    <!-- About Video Content -->
    <div
        class="w-full h-full absolute left-0 top-50 bg-gradient-to-r from-neutral-950/60 via-neutral-950/40 to-neutral-950/5">
        <div class="w-[40%] h-full px-10 space-y-10 flex justify-center flex-col">
            <div class="space-y-2">
                <h1
                    class="text-6xl font-black text-white tracking-wide leading-tight  line-clamp-2 text-overflow-ellipsis">
                    {{ title }}
                </h1>
                <p class="text-sm text-neutral-200 font-normal line-clamp-3 text-overflow-ellipsis">
                    {{ description }}
                </p>
            </div>
            <div class="flex items-center gap-x-4">
                <a href="#"
                    class="w-fit h-11 px-5 text-base font-semibold bg-white hover:bg-neutral-200/80 text-neutral-950 rounded-md flex items-center justify-center gap-x-1.5 ease-in-out duration-300">
                    <i class="fas fa-play text-lg"></i>
                    Play Now
                </a>
                <a href="{% url 'home:video' %}"
                    class="w-fit h-11 px-5 text-base font-semibold bg-neutral-50/20 hover:bg-neutral-50/50 border-2 border-neutral-50/50 hover:border-neutral-50/60 text-neutral-50 hover:text-neutral-900 rounded-md flex items-center justify-center gap-x-1.5 ease-in-out duration-300">
                    <i class="fas fa-film"></i>
                    Explore Movies
                </a>
            </div>
        </div>
    </div>
</div>


<!-- <script>
    const video = document.getElementById('myVideo');
    const playButton = document.getElementById('playButton');

    playButton.addEventListener('click', () => {
        if (video.paused) {
            video.play();
            playButton.style.display = 'none';
        } else {
            video.pause();
        }
    });

    // Show play button only if the video is paused
    video.addEventListener('pause', () => {
        playButton.style.display = 'block';
    });
</script> -->