{% load static %}
<style>
    .preloader {
        width: 100%;
        height: 100vh;
        background: #fff url("{% static 'images/loader.png'%}");
        background-repeat: no-repeat;
        background-position: center;
        /* mix-blend-mode: color-burn; */
        background-size: 15vh;
        position: fixed;
        z-index: 100;
    }
</style>
<div class="preloader"></div>
<script>
    const loading = () => {
        const loader = document.querySelector('.preloader');
        loader.classList.remove("preloader");
    }

    window.addEventListener('load', loading);

</script>