{% load static %}


<nav id="navbar"
    class="relative flex flex-col md:items-center bg-neutral-900 shadow h-auto py-4 md:flex-row lg:items-end justify-between px-10 gap-7 md:gap-0 z-30">
    <!-- Logo section -->
    <div class="flex items-center">
        <a href="/" class="text-decoration-none text-xl font-medium text-neutral-800 md:mb-2 mb-0 mr-16 d-flex">
            <h1 class="tex-xl font-bold text-red-500 uppercase">
                Gokuflix
            </h1>
        </a>
    </div>

    <!-- Nav items & login events -->
    <div id="navItems"
        class="flex-1 hidden md:flex flex-col md:flex-row gap-x-5 gap-y-2 md:items-center md:p-0 sm:p-4 p-4 justify-between md:bg-transparent bg-neutral-800 md:shadow-none sm:shadow-md shadow-md rounded-md">
        <!-- Nav items -->
        <ul
            class="list-none flex md:items-center sm:items-start items-start gap-x-5 gap-y-1 flex-wrap md:flex-row sm:flex-col flex-col">
            <li>
                <a href="#"
                    class="text-decoration-none text-base font-medium text-neutral-400 hover:text-red-500 ease-in-out duration-300">
                    Movies
                </a>
            </li>
            <li>
                <a href="#"
                    class="text-decoration-none text-base font-medium text-neutral-400 hover:text-red-500 ease-in-out duration-300">
                    Categories
                </a>
            </li>
        </ul>

        <div class="flex items-center gap-x-7 gap-y-5 flex-wrap">
            <div
                class="w-[350px] h-10 md:bg-neutral-800 bg-neutral-900 text-base font-medium text-neutral-300 flex items-center border lg:border-neutral-800 border-neutral-900 rounded-md overflow-hidden">
                <input type="text" placeholder="Search for movies..."
                    class="w-[85%] bg-transparent h-full px-4 outline-none placeholder-neutral-500">
                <button
                    class="bg-transparent w-[15%] h-full border-l-2 lg:border-neutral-700/60 border-neutral-800/60 text-base text-neutral-400 hover:text-red-500 ease-in-out duration-300 flex items-center justify-center">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:profile' %}" class="text-base font-medium text-neutral-400">
                <!-- Profile image -->
                <img src="https://source.unsplash.com/random/?women" alt="profile image"
                    class="w-10 h-10 p-0.5 rounded-full object-cover object-center border border-neutral-800/90">
            </a>
            {% else %}
            <a href="{% url 'accounts:login' %}"
                class="w-fit bg-red-700 px-4 py-2 rounded-full text-sm font-medium text-neutral-200 hover:bg-red-600 ease-in-out duration-500">
                Create Account
            </a>
            {% endif %}
        </div>

    </div>
    <button id="btnToggle" class="block md:hidden absolute md:top-6 top-4 right-10 text-neutral-400">
        <i class="fas fa-bars text-2xl pb-2"></i>
    </button>
</nav>

<script>
    const btnToggle = document.getElementById('btnToggle');
    const nav = document.getElementById('navItems');

    // Create a new element
    const iconElement = document.createElement('i');

    // Click button click event listener
    btnToggle.addEventListener('click', () => {
        nav.classList.toggle('flex');
        nav.classList.toggle('hidden');

        if (nav.classList.contains('flex')) {
            // Set the inner HTML of the element to the desired HTML snippet
            btnToggle.innerHTML = '<i class="fas fa-close text-2xl"></i>';

            // Append the new element to an existing element in the DOM (e.g., with id 'container')
            document.getElementById('btnToggle').appendChild(iconElement);

        } else {
            // Set the inner HTML of the element to the desired HTML snippet
            btnToggle.innerHTML = '<i class="fas fa-bars text-2xl"></i>';

            // Append the new element to an existing element in the DOM (e.g., with id 'container')
            document.getElementById('btnToggle').appendChild(iconElement);
        }
    })
</script>


<!-- <script>
    const navbar = document.getElementById('navbar');
    // const btnsToggle = document.getElementById('btnToggle');

    // Toggle navbar on mobile
    // btnsToggle.addEventListener('click', () => {
    //     navbar.classList.toggle('translate-y-full');
    // });

    // Toggle fixed navbar on scroll
    window.addEventListener('scroll', () => {
        if (window.scrollY > 5) {
            navbar.classList.add('bg-red-600', 'text-neutral-900', 'shadow', 'fixed', 'w-full', 'z-50', 'top-0');
            navbar.classList.remove('bg-neutral-900', 'text-white');
        } else {
            navbar.classList.add('bg-neutral-900');
            navbar.classList.remove('bg-red-600', 'text-neutral-900', 'shadow');
        }
    });
</script> -->